@model IEnumerable<NADD.Models.Professor>

@{
    ViewData["Title"] = "Index";
}

<p class="sub-titulo">Controle de Professores</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome do Professor(a)
            </th>
            <th>
                E-mail
            </th>
            <th>
                Telefone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProfessor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailProfessor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelProfessor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProfessorId" class="btn btn-primary col-md-3 opcoes">Editar</a>
                <a asp-action="Details" asp-route-id="@item.ProfessorId" class="btn btn-info col-md-4 opcoes">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.ProfessorId" class="btn btn-danger col-md-3 opcoes">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="col-md-12">
    <div class="col-md-4"></div>
    <a class="btn btn-success col-md-4" asp-action="Create">Novo Professor</a>
    <div class="col-md-4"></div>
</div>