@model NADD.Models.Disciplina

@{
    ViewData["Title"] = "Details";
}
<p class="sub-titulo"> Detalhes Disciplina</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeDisciplina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeDisciplina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Curso.NomeCurso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DtCriacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DtCriacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary col-md-2">Voltar</a>
    <div class="col-md-8"></div>
    <a asp-action="Edit" asp-route-id="@Model.DisciplinaId" class="btn btn-warning col-md-2">Editar</a>
</div>
