@model NADD.Models.Avaliacao

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Avaliacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeAvaliador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeAvaliador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraConclusao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraConclusao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorProvaExp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorProvaExp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorQuestExp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorQuestExp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefBibliograficas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefBibliograficas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PQuestMultdisc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PQuestMultdisc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Eqdistvquest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Eqdistvquest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ppquestcontext)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ppquestcontext)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QtyQuestoes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QtyQuestoes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Media)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Media)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotValor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotValor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disciplinas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disciplinas.NomeDisciplina)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AvaliacaoId"><i class="glyphicon glyphicon-pencil	
"></i></a>
    <a asp-action="Index">Back to List</a>
</div>
