@model NADD.Models.Professor

@{
    ViewData["Title"] = "Informações";
}

<h2>Informações</h2>

<div>
    <h4>Professor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeProfessor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeProfessor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailProfessor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailProfessor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelProfessor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelProfessor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CpfProfessor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CpfProfessor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProfessorId" class="btn btn-success"><i class="glyphicon glyphicon-pencil	
"></i> 	
</a>
    <a asp-action="Index" class="btn btn-default">Voltar</a>
</div>
