@model IEnumerable<NADD.Models.Professor>

@{
    ViewData["Title"] = "Professores";
}

<h2>Professores</h2>


<p>
    <a asp-action="Create" class="btn btn-info">Novo Professor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProfessor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailProfessor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelProfessor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfProfessor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProfessor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailProfessor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelProfessor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfProfessor)
            </td>
            <td class="pull-right">
                <a asp-action="Details" asp-route-id="@item.ProfessorId" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-eye-open"></i></a>
                <a asp-action="Delete" asp-route-id="@item.ProfessorId" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></a>
                <a asp-action="Edit" asp-route-id="@item.ProfessorId" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
