@model NADD.Models.Questoes

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Questoes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroQuestao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroQuestao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Avaliacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Avaliacao.AvaliacaoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QuestoesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
