@model NADD.Models.Questoes

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Informações</h2>

<div>
    <h4>Questão</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Avaliacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Avaliacao.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QuestoesId" class="btn btn-success"><i class="glyphicon glyphicon-pencil	
"></i></a>
    <a asp-action="Index" class="btn btn-default">Voltar</a>
</div>
