@model IEnumerable<NADD.Models.Questoes>

@{
    ViewData["Title"] = "Questão";
}

<h2>Questão</h2>

<p>
    <a asp-action="Create" class="btn btn-info">Nova Questão</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avaliacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avaliacao.Email)
            </td>
            <td class="pull-right">
                <a asp-action="Details" asp-route-id="@item.QuestoesId" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-eye-open"></i></a>
                <a asp-action="Delete" asp-route-id="@item.QuestoesId" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></a>
                <a asp-action="Edit" asp-route-id="@item.QuestoesId" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
