@model NADD.Models.Disciplina

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Informações</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeDisciplina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeDisciplina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Curso.NomeCurso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DisciplinaId" class="btn btn-success"><i class="glyphicon glyphicon-pencil	
"></i></a>
    <a asp-action="Index" class="btn btn-default">Voltar</a>
</div>
